@import '@/styles/_shared.scss';

.product-gift-subscription-form {
  > :global(.btn) {
    margin-top: 30px;
    height: 60px;
  }
}

.product-subscription-selector {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.product-subscription-selector__item {
  border-bottom: 1px solid $black20;
  padding: 15px 0;
  @include breakpoint-up('md') {
    padding: 30px 0;
  }
  &:first-child {
    border-top: 1px solid $black20;
  }
  &.product-subscription-selector__frequency,
  &.product-subscription-selector__shipment {
    padding-bottom: 5px;
    @include breakpoint-up('md') {
      padding-bottom: 10px;
    }
  }
}

.product-subscription-selector__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include breakpoint-up('md') {
    flex-direction: row;
    align-items: center;
    > h2 {
      margin-bottom: 0;
    }
  }
  > h2 {
    margin-bottom: 10px;
  }
  :global(.dropdown-selector) {
    margin: 0;
    width: 100%;
    :global(.Dropdown-control) > div:first-child {
      background-color: $pureWhite !important;
    }
    :global(.Dropdown-placeholder),
    :global(.Dropdown-option:not(.is-selected)) {
      background-color: $pureWhite !important;
    }
    :global(.Dropdown-placeholder),
    :global(.Dropdown-option) {
      font-size: 16px !important;
      font-family: $bebas;
      letter-spacing: 0.02em;
      @include breakpoint-up('md') {
        font-size: 24px !important;
      }
    }

  }
  &.flex-column {
    flex-direction: column;
    align-items: flex-start;
    > h2 {
      margin-bottom: 10px;
    }
  }
  > h2 {
    margin-right: 25px;
    letter-spacing: 0.02em;
    .product-subscription-selector__item-step {
      color: $salmon;
    }
    > span:not(.product-subscription-selector__item-step) {
      font-family: $frank-ruhl;
      font-size: 16px;
      letter-spacing: 0;
      color: rgba(45, 43, 38, 0.6);
      margin-left: 10px;
    }
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex: 1;
    li {
      margin: 0 14px 10px 0;
      @include breakpoint-up('md') {
        margin: 0 23px 20px 0;
      }
      button {
        font-family: $bebas;
        font-size: 16px;
        height: 42px;
        min-width: 96px;
        padding: 0 25px;
        display: flex;
        letter-spacing: 0.02em;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border-radius: 6px;
        border: 1px solid $fawn50-2;
        @include breakpoint-up('md') {
          font-size: 24px;
          height: 50px;
          min-width: 150px;
          border-radius: 12px;
        }
        &:global(.sitkablue) {
          pointer-events: none;
        }
      }
      .subscription-selector__shipment-item-btn {
        height: 42px;
        min-width: 70px;
        @include breakpoint-up('md') {
          height: 62px;
          min-width: 140px;
        }
      }
    }
  }
}

.subscription-selector__frequency-item {

}

.subscription-selector__frequency-item-btn {

}

.product-subscription-selector__recipient-fields {
  margin-top: -5px;
  width: 100%;
  :global(.label) {
    margin-bottom: 10px;
  }
  :global(.input-group) {
    &:last-child {
      margin: 0;
    }
    @include breakpoint-up('md') {
      margin: 0;
    }
  }
}

.shellfish-free-input {
  margin-top: 15px;
  :global(.input-group) {
    margin: 0;
  }
}