@import '@/styles/_shared.scss';

.search {
    padding-top: 48px;

    .header {
        border-bottom: 1px solid $black20;
        padding-bottom: 24px;
        margin-bottom: 41px;

        h1 {
            margin-bottom: 24px;
        }

        .links {
            margin-bottom: 12px;

            a {
                text-decoration: none;
                margin-right: 10px;
            }

            span {
                margin-right: 10px;
            }
        }
    }

    .searchbox-wrap {
        max-width: 646px;
    }

    .results-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .hits-row {
        width: 100%;
        padding-top: 24px;

        @include breakpoint-up('sm') {
            padding-top: 0;
            width: 65%;
        }

        @include breakpoint-up('md') {
            width: 75%;
        }
    }

    .hits-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 44px;

        @include breakpoint-up('sm') {
            flex-direction: row;
        }
    }

    .filters-wrap {
        width: 100%;

        @include breakpoint-up('sm') {
            min-width: 210px;
            width: 18%;
        }

        @include breakpoint-up('lg') {
            min-width: 285px;
        }
    }

    .refinement-wrap {
        h5 {
            margin-bottom: 13px;
        }
    }
}