@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/variables/_breakpoints.scss';
@import '../../styles/variables/_colors.scss';
@import '../../styles/utility/_ui-elements.scss';

.hero {
  &.bg--light {
    background-color: $alabaster;
  }

  &.bg--dark {
    background-color: $fawn;
  }

  .disclaimer {
    display: none;
    margin-top: 48px;

    @include breakpoint-up('sm') {
      display: block;
    }
  }

  // Padded Hero Option
  &.image--padded {
    .hero__text {
      &--inner { 
        padding: 24px 28px 60px 28px;
        text-align: left;

        @include breakpoint-up('sm') {
          padding: 0 10.2% 0 0;
        }

        .btn-wrap {
          .btn {
            max-width: 250px;
            &:not(:first-child) {
              display: none;
              @include breakpoint-up('sm') {
                display: block;
                background-color: transparent;
              }
            }
          }
        }

        .secondary-btn {
          text-decoration: none;
        }
      }
    }

    .hero__wrap {
      &--mbl {
        height: 242px;
      }
    }

    .hero__wrap {
      &--dsktp {
        @include breakpoint-up('sm') {
          display: block;
          height: 792px;
          border-radius: 12px;

          img {
            border-radius: 12px;
          }
        }
      }
    }

    .hero__row {
      flex-direction: column-reverse;

      @include breakpoint-up('sm') {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 84px 4.27% 84px 6.30%;
      }
    }
  }

  // Cover Hero Option
  &.image--cover {
    .hero__text {
      &--inner {
        padding: 54px 28px 111px 28px;
        text-align: center;
        @include breakpoint-up('sm') {
          padding: 0 12.6% 0 16.77%; 
          text-align: left;
        }

        .btn-wrap {
          position: absolute;
          transform: translateX(-50%);
          bottom: -20px;
          left: 50%;
          z-index: 1;

          @include breakpoint-up('sm') {
            margin-top: 0;
            position: static;
            transform: initial;
          }

          .btn {
            margin-bottom: 12px;
          }
        }
      }
    }

    .hero__wrap {
      &--mbl {
        height: 300px;
      }

      &--dsktp {
        @include breakpoint-up('sm') {
          display: block;
          height: 963px;
        }
      }
    }

    .hero__row {
      flex-direction: column;

      @include breakpoint-up('sm') {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }
    }

    .value-props {
      display: none;

      @include breakpoint-up('sm') {
        display: block;
      }
    }
  }

  // hero__row
  &__row {
    display: flex;
  }

  // hero __text
  &__text {
    height: 100%;
    flex: 1;
   

    // hero__text--inner
    &--inner {
      position: relative;

      h1 {
        margin-bottom: 12px;

        @include breakpoint-up('sm') {
          margin-bottom: 18px;
        }
      }

      .value-props {
        list-style: none;
        margin-top: 36px;
        margin-bottom: 76px;

        @include breakpoint-up('sm') {
          margin-bottom: 44px;
        }

        li {
          span {
            display: inline-block;
            margin-right: 12.35px;

            @include breakpoint-up('sm') {
              margin-right: 24.71px;
            }
          }
        }

        & li:not(:first-child) {
          margin-top: 28px;
        }
      }

      .btn-wrap {
        margin-top: 42px;
  
        @include breakpoint-up('sm') {
          display: flex;
        }

        .btn {
          text-align: center;
          min-width: 320px;

          &:not(:first-child) {
            @include breakpoint-up('sm') {
              text-align: left;
              margin-left: 38px;
            }
          }

          @include breakpoint-up('sm') {
            min-width: 0;
            max-width: 250px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // hero__wrap
  &__wrap {
    position: relative;

    &.image--half {
      @include breakpoint-up('sm') {
        width: 50%;
      }
    }

    &.image--two-thirds {
      @include breakpoint-up('sm') {
        width: 58.8%;
      }
    }

    // hero__wrap--dsktp
    &--dsktp {
      display: none;
    }

    // hero__wrap--mbl
    &--mbl {
      @include breakpoint-up('sm') {
        display: none;
      }
    }

    img {
      object-fit: cover;
    }
  }
}
