@import '@/styles/_shared.scss';

.hide {
    margin-bottom: 12px;

    button {
        padding: 0;
        color: $sitkablue;
        position: absolute;
        top: 8px;
        right: 8px;

        @include breakpoint-up('lg') {
            top: 92px;
            right: 84px;
        }
    }

    svg {
        width: 14px;
        height: 14px;

        @include breakpoint-up('lg') {
            width: 24px;
            height: 24px;
        }

        path {
            fill: $sitkablue;
        }
    }
}

.pdp-flyout {
    .pdp-flyout__content--enter {
        transform: translate(100%);
    }

    .pdp-flyout__content--enter-active {
        transform: translate(0);
    }

    .pdp-flyout__content--enter-done {
        transform: translate(0);
    }

    .pdp-flyout__content--exit {
        transform: translate(100%);
    }
}

.pdp-flyout {
    width: 100%;
    height: 100%;
    z-index: 2001;
    position: fixed;
    max-width: 353px;
}

.pdp-flyout__close-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;

    @include breakpoint-up('md') {
        top: 15px;
        right: 15px;
    }

    svg {
        width: 14px;

        @include breakpoint-up('sm') {
            width: 20px;
        }

        @include breakpoint-up('md') {
            width: 27px;
        }

        * {
            fill: $sitkablue;
        }
    }
}

.pdp-flyout__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    cursor: pointer;
}

.pdp-flyout__content {
    width: 100%;
    position: fixed;
    right: 0;
    height: 100%;
    background-color: $alabaster2;
    padding: 40px 30px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out transform;
    transform: translate(100%);
    overflow-y: auto;

    @include breakpoint-up('lg') {
        padding: 70px 84px;
        max-width: 978px;
    }

    button {
        background: transparent;
        border: none;
    }
}

.info {
    h1 {
        margin-bottom: 25px;
    }

    h2 {
        margin-bottom: 2px;
    }

    .species-wrap {
        margin-bottom: 35px;
    }
}

.hero-image {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 45px;
    img {
        border-radius: 12px;
    }
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.play-btn {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    border: none;
    background: none;
    box-shadow: none;
    svg {
      width: 64px;
      height: 64px;
    }
}