@import '@/styles/_shared.scss';

.article-main {
  background-color: $alabaster2;
}

:global(.article-cooking-guide) {
  .article-main__wrapper {
    @include breakpoint-up('md') {
      margin: 0 auto 0 0;
      width: 45.5%;
      padding: 0;
      margin-bottom: 0;
    }
  }
}

.article-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  @include breakpoint-up('md') {
    width: calc(100% - 40px);
  }
  @include breakpoint-up('lg') {
    width: calc(100% - 120px);
  }
  @include breakpoint-up('xl') {
    width: 85%;
  }
}