@import '@/styles/_shared.scss';

:global(.gift-subscription-product) {
    .harvest {
        margin: 0;
    }
}

.harvest {
    background-color: $alabaster;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
    padding: 40px 0;

    @include breakpoint-up('sm') {
        margin-bottom: 51px;
        padding: 72px 0;
    }

    @include breakpoint-up('lg') {
        padding: 192px 0 143px 0;
    }

    // harvest--gutters
    &--gutters {
        padding: 0 28px;
    }

    // harvest__header
    &__header {
        h4 {
            vertical-align: middle;
            height: 48px;
            display: flex;
            align-items: center;
            max-width: 715px;

            @include breakpoint-up('sm') {
                display: block;
                height: initial;
                margin-bottom: 26px;
            }
        }

        h5 {
            margin-bottom: 36px;
            max-width: 715px;
        }
    }

    // harvest__illustration
    &__illustration {
        position: absolute;
        top: 0;
        right: 0;

        // harvest__illustration-img
        &-img {
            position: relative;
            width: 207px;
            height: 155px;
            z-index: -1;

            @include breakpoint-up('md') {
                width: 587px;
                height: 384px;
            }
        }
    }

    // harvest__content
    &__content {
        .harvest__header {
            h1 {
                margin-bottom: 12px;

                @include breakpoint-up('sm') {
                    margin-bottom: 24px;
                    max-width: 822px;
                }
            }

            h3 {
                margin-bottom: 24px;

                @include breakpoint-up('sm') {
                    margin-bottom: 36px;
                    max-width: 822px;
                }
            }
        }
    }

    .active-harvest__swiper {
        margin-bottom: 29px;
        position: relative;
        padding-right: 30px;

        @include breakpoint-up('sm') {
            margin-bottom: 57px;
            padding-right: 50px;
        }

        @include breakpoint-up('md') {
            padding-right: 60px;
        }

        @include breakpoint-up('lg') {
            padding-right: 85px;
        }

        @include breakpoint-up('xl') {
            width: calc(100% - 240px);
            max-width: 1680px;
            margin: 0 auto 57px auto;
        }

        .harvest__tab {
            color: $sitkablue;
            width: auto;

            @include breakpoint-up('sm') {
                height: 66px;
                width: initial;
                justify-content: center;
            }

            &:first-child {
                margin-left: 30px;
                @include breakpoint-up('sm') {
                    margin-left: 50px;
                }

                @include breakpoint-up('md') {
                    margin-left: 60px;
                }

                @include breakpoint-up('lg') {
                    margin-left: 85px;
                }
            }


            button {
                display: flex;
                align-items: center;
                font-size: 16px;
                background-color: #fff;
                border: 1px solid $fawn50-2;
                border-radius: 12px;
                font-family: $bebas;
                padding: 2px 20px 0;
                letter-spacing: 0.02em;
                height: 30px;

                @include breakpoint-up('sm') {
                    font-size: 24px;
                    height: 66px;
                    padding: 20.5px 31px;
                }

                &.active {
                    background-color: $sitkablue;
                    color: #fff;
                }
            }
        }
    }

    // harvest__tabs-swiper
    &__tabs-swiper {
        margin-left: 28px;
        margin-bottom: 29px;
        position: relative;

        @include breakpoint-up('sm') {
            margin-left: 50px;
            margin-bottom: 59px;
        }

        @include breakpoint-up('md') {
            margin-left: 60px;
        }

        @include breakpoint-up('lg') {
            margin-left: 85px;
        }

        @include breakpoint-up('xl') {
            width: calc(100% - 240px);
            max-width: 1680px;
            margin: 0 auto 60px auto;
        }

        &::after {
            content: '';
            position: absolute;
            border-bottom: 1px solid $black20;
            border-radius: 3px;
            width: 100%;
            left: 0;
            bottom: 1px;
        }

        .harvest__tab {
            min-height: 37px;
            display: flex;
            align-items: center;
            color: $sitkablue;
            width: auto;

            @include breakpoint-up('sm') {
                min-height: 61px;
                width: initial;
                justify-content: center;
            }

            button {
                text-align: left;
                border: none;
                background: none;
                padding: 0;

                &::after {
                    content: '';
                    position: absolute;
                    border-bottom: 3px solid transparent;
                    border-radius: 3px;
                    width: 100%;
                    left: 0;
                    bottom: 0px;
                }

                &.active {
                    position: relative;
                    color: $salmon;

                    &::after {
                        border-bottom: 3px solid $salmon;
                    }
                }
            }
        }
    }

    .harvest__card:not(:first-child) {
        margin-top: 24px;

        @include breakpoint-up('sm') {
            margin-top: 0;
        }
    }

    // harvest__list
    &__list {
        &:not(:last-child) {
            margin-bottom: 34px;

            @include breakpoint-up('sm') {
                margin-bottom: 47px;
            }
        }

        &-title {
            height: 48px;
            display: flex;
            align-items: center;

            @include breakpoint-up('sm') {
                height: initial;
                display: block;
                margin: auto auto 18px auto;
            }
        }
    }

    // harvest__fish-list
    &__fish-list {
        @include breakpoint-up('sm') {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    // harvest__card
    &__card {
        width: 100%;

        @include breakpoint-up('sm') {
            width: 49%;
        }

        &.projected-card {
            @include breakpoint-up('sm') {
                width: 100%;
            }
        }
    }
}