@import '@/styles/_shared.scss';

.hits-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 44px;

    @include breakpoint-up('sm') {
        flex-direction: row;
    }
}

.filters-wrap {
    width: 100%;

    @include breakpoint-up('sm') {
        min-width: 210px;
        width: 18%;
    }

    @include breakpoint-up('lg') {
        min-width: 285px;
    }
}

.no-results {
    span {
        color: $salmon;
    }
}