@import '@/styles/_shared.scss';

.primaryAnnouncement {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $sitkablue;
  color: $alabaster2;
  width: 100%;
  padding: 10px 40px;
  position: relative;
  .primaryAnnouncementCopy {
    max-width: 75%;
    margin: 0 auto;
  }
  button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    background-color: transparent;
    border: none;
    padding: 5px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}