@import '@/styles/_shared.scss';

.account-details {
  width: 100%;
  padding: 32px;
  max-width: 1380px;
  margin: auto;

  h3 {
    font-family: $bebas;
    font-size: 48px;
    margin-bottom: 60px;

    @include breakpoint-down(700px) {
      font-size: 24px;
      margin-bottom: 18px;
    }
  }

  h5 {
    font-family: $bebas;
    font-size: 21px;
    margin-top: 16px;
    margin-bottom: 16px;

    @include breakpoint-down(700px) {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  .customer-email-info {
    background: $pureWhite;
    border: 1px solid $fawn50-2;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
    margin-bottom: 69px;
    @include breakpoint-down(700px) {
      margin-bottom: 18px;
    }
    div {
      flex: 0 1 0;
      font-family: $frank-ruhl;
      font-size: 18px;
      color: $sitkablue;

      @include breakpoint-down(700px) {
        font-size: 12px;
      }
    }
    .email {
      margin-bottom: 12px;
    }
    .reset {
      flex: 1 0 0;
      text-align: right;
      a {
        text-decoration: underline;
      }
    }
  }

  .subscription-container {
    background: $pureWhite;
    border: 1px solid $fawn50-2;
    border-radius: 6px;
    padding: 24px 40px;
    margin-bottom: 69px;

    font-family: $frank-ruhl;
    font-size: 18px;
    color: $sitkablue;

    @include breakpoint-down(700px) {
      font-size: 12px;
    }

    .summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .details div {
        margin-bottom: 8px;
      }

      .cancel {
        a {
          text-decoration: underline;
        }
      }
    }

    .detailed-description {
      max-width: 800px;
      width: 100%;
      padding: 8px;
      margin-top: 30px;
      border: 1px solid $fawn50-2;
      border-radius: 6px;
      display: flex;
      color: $sitkablue;
      margin-bottom: 24px;

      .image {
        flex: 0 0 120px;
      }

      .product {
        flex: 1 1 0;
        padding: 0 20px;
        font-size: 14px;

        .name {
          font-size: 18px;
          margin-bottom: 8px;
        }

        span {
          font-family: $bebas;
        }
      }

      .cost {
        flex: 0 0 0;
        font-size: 14px;
        text-align: right;
        div {
          white-space: nowrap;
          font-weight: 500;
          &:last-of-type {
            margin-top: 8px;
            font-weight: 200;
          }
        }
      }
    }
  }

  .cancel-container {
    color: $sitkablue;
    font-family: $frank-ruhl;
    font-size: 18px;
    font-weight: 700;

    @include breakpoint-down(700px) {
      font-size: 12px;
    }

    h5 {
      font-family: $frank-ruhl;
      font-size: 24px;

      @include breakpoint-down(700px) {
        font-size: 20px;
      }
    }

    button {
      margin-top: 16px;
      max-width: 18rem;
    }

    .options {
      margin-top: 14px;
      max-width: 18rem;
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}
