@import '@/styles/_shared.scss';

.subscription-container {
  background: $pureWhite;
  border: 1px solid $fawn50-2;
  border-radius: 6px;
  padding: 24px 40px;
  margin-bottom: 69px;

  font-family: $frank-ruhl;
  font-size: 18px;
  color: $sitkablue;

  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .details div {
      margin-bottom: 8px;

      @include breakpoint-down(700px) {
        font-size: 12px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cancel {
      a {
        text-decoration: underline;
      }
    }
  }

  .detailed-description {
    max-width: 800px;
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    border: 1px solid $fawn50-2;
    border-radius: 6px;
    display: flex;
    color: $sitkablue;
    margin-bottom: 24px;

    .image {
      flex: 0 0 120px;
    }

    .product {
      flex: 1 1 0;
      padding: 0 20px;
      font-size: 14px;

      .name {
        font-size: 18px;
        margin-bottom: 8px;
      }

      span {
        font-family: $bebas;
      }
    }

    .cost {
      flex: 0 0 0;
      font-size: 14px;
      text-align: right;
      div {
        white-space: nowrap;
        font-weight: 500;
        &:last-of-type {
          margin-top: 8px;
          font-weight: 200;
        }
      }
    }
  }

  .cancel-container {
    color: $sitkablue;
    font-family: $frank-ruhl;
    font-size: 18px;
    font-weight: 700;

    h5 {
      font-family: $frank-ruhl;
      font-size: 24px;
      margin-bottom: 0;
    }

    button {
      margin-top: 16px;
      max-width: 18rem;
    }

    .options {
      margin-top: 14px;
      max-width: 18rem;
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 400;
        text-decoration: underline;

        &:only-child {
          margin: 0 auto;
        }
      }
    }

    :global(.MuiFormGroup-root) {
      label, svg {
        color: $sitkablue;
      }
    }
  }
}

