@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/variables/_breakpoints.scss';
@import '../../styles/variables/_colors.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid $fawn;
  padding: 12px 12px 26px 12px;

  .media {
    margin-bottom: 25px;
    display: block;
  }

  // card__content
  &__content {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;

    .title {
      margin-bottom: 12px;
    }
    
    .price-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
    .compare {
      text-decoration: line-through;
    }
  }
}

.media {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  border-radius: 12px;
}