@import '@/styles/_shared.scss';

.contact-us {
  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    @include breakpoint-up('sm') {
      font-size: 28px;
    }
    @include breakpoint-up('md') {
      font-size: 36px;
    }
    @include breakpoint-up('lg') {
      font-size: 42px;
    }
    @include breakpoint-up('xl') {
      font-size: 48px;
    }
  }
  :global(.input-group) {
    textarea {
      height: 300px;
      resize: none;
    }
  }
  :global(.btn) {
    max-width: 222px;
    min-width: auto;
  }
}

.contact-us__error {
  font-size: 16px;
  line-height: 1.1;
  margin: 20px 0 0;
  color: $error;
}