@import '@/styles/_shared.scss';

.article-sidebar {
  width: 47%;
  background-color: $fawn50-2;
  padding: 65px;
}

.article-sidebar__main {
  max-width: 430px;
}

.article-sidebar__section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $black20;
  &:last-child {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}

.article-author__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.article-author__image {
  flex-basis: 137px;
  width: 137px;
  margin-right: 35px;
  border-radius: 82px;;
}

.cooking-guides {
  list-style: none;
  li {
    background-color: $pureWhite;
    padding: 27px 20px;
    border-radius: 12px;
    margin: 40px 0 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .cooking-guide-item__image {
    margin-bottom: 30px;
  }
  img {
    border-radius: 12px;
  }
  a {
    text-decoration: none;
  }
}