@import '@/styles/_shared.scss';

.article-sidebar {
  width: 100%;
  background-color: $fawn50-2;
  padding: 35px 30px;
  @include breakpoint-up('sm') {
    padding: 65px 50px;
  }
  @include breakpoint-up('md') {
    width: 47%;
    padding: 65px;
  }
}

.article-sidebar__main {
  max-width: 430px;
}

.article-sidebar__section {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $black20;
  &:last-child {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}

.article-author__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.article-author__image {
  flex-basis: 137px;
  width: 137px;
  margin-right: 35px;
  border-radius: 82px;;
}

.cooking-guides {
  list-style: none;
  li {
    display: flex;
    flex-direction: column;
    background-color: $pureWhite;
    padding: 27px 20px;
    border-radius: 12px;
    margin: 20px 0 25px;
    @include breakpoint-up('md') {
      margin: 40px 0 50px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .cooking-guide-item__image {
    margin-bottom: 30px;
    width: 100%;
  }
  img {
    border-radius: 12px;
  }
  a {
    text-decoration: none;
  }
}