.checkout__panel {
  background-color: $pureWhite;
  border: 1px solid $fawn50-2;
  border-radius: 12px;
  padding: 10px 55px;
  margin-bottom: 35px;
}

.checkout__row {
  border-bottom: 1px solid $fawn50-2;
  padding-top: 20px;
  padding-bottom: 20px;
}