.checkout__panel {
  background-color: $pureWhite;
  border: 1px solid $fawn50-2;
  border-radius: 12px;
  padding: 10px 55px;
  margin-bottom: 35px;
}

.checkout__row {
  border-bottom: 1px solid $fawn50-2;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkout__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  h3 {
    font-family: $bebas;
    letter-spacing: 0.02em;
  }
  svg {
    width: 17px;
    transform: rotate(180deg);
  }
  &--closed {
    svg {
      transform: rotate(0deg);
    }
  }
  &--border-on-closed {
    border: none;
    &.checkout__header--closed {
      border-bottom: 1px solid $fawn50-2;
    }
  }
}

.checkout__header-toggle-btn {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 10px;
  border: none;
  margin-left: 10px;
}

/*
 checkout's checkboxes
*/

.checkout__checkbox-wrapper {
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0;
  font-size: 14px;
  position: relative;
  > label {
    display: inline-flex !important;
    cursor: pointer;
  }
}

.checkout__checkbox {
  border: 1px solid $black10 !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 2px;
  margin-right: 5px;
  svg {
    width: 12px;
    height: 12px;
    * {
      fill: $pureWhite;
    }
  }
  .checkbox--checked {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: $sitkablue;
    border-radius: 2px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/*
 checkout's radio inputs
*/

.checkout__radio-wrapper {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
  position: relative;
  * {
    opacity: 0.6;
  }
  &.is-selected {
    * {
      opacity: 1;
    }
  }
  &:last-child {
    margin: 0;
  }
  > label {
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid $black10;
    border-radius: 12px;
    padding: 0 15px;
    cursor: pointer;
    > span:nth-child(2) {
      width: 100%;
    }
  }
}

.checkout__radio {
  border: 1px solid $sitkablue !important;
  width: 18px !important;
  height: 18px !important;
  border-radius: 100% !important;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
  .radio--checked {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    background-color: $sitkablue;
    border-radius: 100% !important;
    cursor: pointer;
  }
}

.checkout__radio-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*
 checkout's basic input overrides
*/

.checkout__panel {
  .input-group--wrapper {
    .input-group {
      width: 100%;
      @include breakpoint-up('md') {
        width: calc(50% - 6.5px)
      }
    }
  }
  .input-group {
    margin-bottom: 12px;
  }
}
