@import '@/styles/mixins/_breakpoints.scss';
@import '@/styles/variables/_breakpoints.scss';
@import '@/styles/variables/_colors.scss';

@media print {
  .hero {
    display: none !important;
  }
}

:global(.listing-pages--filters-open) {
  .hero {
    &.hero--center {
      .hero__text {
        &-inner {
          h1 {
            @include breakpoint-up('lg') {
              font-size: 120px;
            }
          }
        }
      }
    }
  }
}

:global(.main--the-catch) {
  .hero {
    &.hero--bottom {
      h1 {
        font-size: 72px;
        @include breakpoint-up('md') {
          font-size: 204px;
        }
      }
      .hero__text {
        bottom: -15px;
        @include breakpoint-up('md') {
          bottom: -41px;
        }
      }
    }
  }
}

.hero {
  position: relative;

  &.hero--smaller-text {
    h1 {
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0.02em;
      @include breakpoint-up('sm') {
        font-size: 48px;
      }

      @include breakpoint-up('md') {
        font-size: 56px;
      }

      @include breakpoint-up('lg') {
        font-size: 60px;
      }

      @include breakpoint-up('xl') {
        font-size: 72px;
        line-height: 120%;
      }
    }

    h2 {
      font-size: 14px;
      line-height: 150%;

      @include breakpoint-up('lg') {
        font-size: 16px;
      }

      @include breakpoint-up('xl') {
        font-size: 18px;
      }
    }

  }

  &.top-margin {
    margin-top: 23px;

    @include breakpoint-up('md') {
      margin-top: 60px;
    }
  }

  &.bottom-margin {
    margin-bottom: 23px;

    @include breakpoint-up('md') {
      margin-bottom: 60px;
    }
  }

  // dynamic color modifiers
  &.text--light {
    color: $alabaster;

    .btn-wrap {
      a:first-child {
        min-width: 161px;
        padding: 0 20px;
      }

      a:not(:first-child) {
        color: $alabaster;
      }
    }
  }

  &.text--dark {
    color: $sitkablue;

    .btn-wrap {
      a:not(:first-child) {
        color: $sitkablue;
      }
    }
  }

  &.text--green {
    color: #B7CD96;

    .btn-wrap {
      a:not(:first-child) {
        color: #B7CD96;
      }
    }
  }

  &--video-enabled {
    .hero__text-inner {
      display: none;
    }
  }

  // hero__wrap
  &__wrap {
    position: relative;

    // hero__wrap--dsktp
    // &--dsktp {
    //   @include breakpoint-up('sm') {
    //     height: 960px;
    //   }
    // }

    img {
      object-fit: cover;
    }
  }

  // hero__text
  &__text {
    z-index: 1;

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 72px;
        margin-bottom: 12px;

        @include breakpoint-up('sm') {
          margin-bottom: 12px;
        }
      }

      h2 {
        margin-bottom: 30px;
        @include breakpoint-up('sm') {
          margin-bottom: 60px;
        }
      }

      .btn {
        min-width: 161px;
        padding: 0 20px;
        margin: 0 auto 24px auto;
      }

      a {
        text-align: center;
        margin-bottom: 12px;
      }
    }
  }

  // HERO BOTTOM ALIGNED STYLES
  // for the catch page
  &.hero--bottom {
    h1 {
      font-size: 72px;
      margin-bottom: 0;
      @include breakpoint-up('md') {
        font-size: 204px;
      }
    }

    .hero__text {
      position: absolute;
      bottom: 0;
      left: 28px;
      max-width: 319px;

      @include breakpoint-up('md') {
        left: 7.34%;
        max-width: 735px;
      }

      &-inner {
        text-align: left;
        align-items: flex-start;
      }
    }
  }

  // HERO CENTER STYLES
  &.hero--center {
    .hero__wrap--mbl {
      height: 806px;
    }

    .hero__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85.067%;
      max-width: 1108px;

      // hero__text-inner
      &-inner {
        text-align: center;

        h1 {
          @include breakpoint-up('sm') {
            margin-bottom: 10px;
          }
          @include breakpoint-up('lg') {
            font-size: 144px;
            line-height: 1;
            margin-bottom: 20px;
          }
        }
        .btn {
          @include breakpoint-up('sm') {
            min-width: 250px !important;
          }
        }
      }
    }
  }

  // HERO TRANSPARENT BG STYLES
  &.hero--center-transparent {
    .hero__wrap--mbl {
      height: 636px;
    }

    .hero__wrap--dsktp {
      @include breakpoint-up('sm') {
        height: 960px;
      }
    }

    .hero__text {
      padding: 57.03px 36.5px;
      box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.1);
      background-color: rgba(252, 250, 248, 0.95);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 2px;
      width: 100%;

      @include breakpoint-up('sm') {
        padding: 8.05% 7.45%;
        border-radius: 12px;
      }

      @include breakpoint-up('lg') {
        padding: 0;
        width: 1108px;
        min-height: 623px;
        display: flex;
        align-items: center;
      }

      // hero__text-inner
      &-inner {
        text-align: center;
        max-width: 822px;
        margin: auto;

        a {
          @include breakpoint-up('sm') {
            max-width: 392px;
          }
        }

        .btn {
          min-width: 161px;

          @include breakpoint-up('sm') {
            width: 392px;
          }
        }
      }
    }
  }

  // HERO ALIGNED LEFT STYLES
  &.hero--left {
    .hero__wrap--mbl {
      height: 672px;
    }

    .hero__text {
      position: absolute;
      top: 60px;
      left: 28px;
      max-width: 319px;

      @include breakpoint-up('sm') {
        transform: translateY(-50%);
        top: 50%;
        left: 7.34%;
        max-width: 735px;
      }

      // hero__text-inner
      &-inner {
        text-align: left;
        align-items: flex-start;
      }
    }
  }
}

.hero-video__action-btn {
  min-width: none;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &:global(.alabaster) {
    svg {
      * {
        fill: $sitkablue;
      }
    }
  }

  svg {
    width: 17px;
    margin-right: 10px;
  }
}

.hero-video__wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  iframe {
    width: 100%;
    height: 100%;

    @include breakpoint-up('md') {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  >div {
    height: 100%;
  }
}