@import '@/styles/_shared.scss';

.article-card {
    background-color: #fff;
    text-decoration: none;
    border-radius: 12px;

    &:not(.btn):hover {
        text-decoration: none;
    }
}

.slider__slide {
    position: relative;
    padding: 17.94px 15px;
    border: 1px solid $fawn50-2;
    border-radius: 12px;
    min-height: 501px;

    &.row {
        @include breakpoint-up('md') {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 0;
            padding: 24px;
        }

        .image-wrap {
            @include breakpoint-up('md') {
                width: 48%;
            }
        }

        .text {
            @include breakpoint-up('md') {
                width: 48%;
            }
        }
    }

    img {
        border-radius: 12px;
    }

    .text {
        margin-top: 17.94px;

        p {
            color: $salmon;
            height: 43.57px;
            display: flex;
            align-items: center;
        }

        .btn-wrap {
            width: 145px;
            margin: auto;

            a {
                min-width: 0;
            }
        }
    }
}