@import '@/styles/_shared.scss';

:global(.product-accordions) {
  .product-details {
    margin: 0;
  }
}

:global(.product.gift-subscription-product) {
  .product-details {
    margin: 30px 0;
  }
}

.product-details {
  margin: 30px 0;
  border-bottom: 1px solid $black20;
  padding: 20px 0;
  @include breakpoint-up('lg') {
    margin: 60px 0;
  }
  &.disable-toggle {
    h4 {
      cursor: auto;
      svg {
        display: none;
      }
    }
  }
  h4 {
    cursor: pointer;
    position: relative;
  }
  svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 3px;
    right: 0;
    @include breakpoint-up('md') {
      width: 23px;
      height: 23px;
      top: 5px;
    }
    @include breakpoint-up('xl') {
      top: 11.5px;
    }
    * {
      fill: $sitkablue;
    }
    &.minus {
      top: 3.5px;
      @include breakpoint-up('md') {
        top: 5.5px;
      }
      @include breakpoint-up('xl') {
        top: 12px;
      }
    }
  }
}

.product-details__description {
  padding-top: 20px;
  @include breakpoint-up('md') {
    padding-top: 25px;
  }
}

.product-details__items {
  list-style: none;
}

.product-details__item {
  border-bottom: 1px solid $black20;
  padding: 20px 0;
  @include breakpoint-up('md') {
    padding: 25px 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}