@import '@/styles/_shared.scss';

.product-details {
  margin: 60px 0;
  position: relative;
  @include breakpoint-up('md') {
    margin: 100px 0;
  }
  @include breakpoint-up('lg') {
    margin: 140px 0;
  }
  &.pdp-drawer__product-details {
    @include breakpoint-up('md') {
      margin: 60px 0;
    }
    .faq__container {
      width: 100%;
      @include breakpoint-up('lg') {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
    .faq__header {
      @include breakpoint-up('lg') {
        margin-bottom: 40px;
      }
    }
    .faq__content {
      @include breakpoint-up('lg') {
        max-width: none;
        padding-left: 0;
      }
    }
  }
}

.product-details__items {
  list-style: none;
}

.product-details__item {
  border-bottom: 1px solid $black20;
  padding: 20px 0;
  @include breakpoint-up('md') {
    padding: 25px 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}