@import '@/styles/mixins/_breakpoints.scss';
@import '@/styles/variables/_breakpoints.scss';
@import '@/styles/variables/_colors.scss';

.articles {
    position: relative;
    background-color: #B7CD96;
    padding: 60px 0 72px 0;
    overflow: hidden;

    @include breakpoint-up('sm') {
        padding: 144px 0;
    }

    .illustration-1 {
        position: absolute;
        top: 108px;
        left: -120px;
        display: none;
        z-index: -1;

        @include breakpoint-up('md') {
            display: block;
        }
    }

    .illustration-2 {
        position: absolute;
        bottom: -36px;
        right: -80px;
        display: none;
        z-index: -1;

        @include breakpoint-up('md') {
            display: block;
        }
    }

    &__content {
        max-width: 1680px;
        margin: auto;
        padding-left: 30px;

        @include breakpoint-up('sm') {
            padding-left: 0;
            width: calc(100% - 100px);
        }

        @include breakpoint-up('md') {
            width: calc(100% - 120px);
        }

        @include breakpoint-up('lg') {
            width: calc(100% - 170px);
        }

        @include breakpoint-up('xl') {
            width: calc(100% - 240px);
        }
    }

    // articles__tab-swiper
    &__tabs-swiper {
        min-height: 32px;

        @include breakpoint-up('sm') {
            text-align: center;
            min-height: 45px;
            display: flex;
            justify-content: center;
        }

        &.swiper-none {
            display: none;

            @include breakpoint-up('sm') {
                display: flex;
            }
        }

        &.has-swiper {
            display: block;

            @include breakpoint-up('sm') {
                display: none;
            }
        }

        .tab-slide {
            min-width: 59px;
            display: flex;
            align-items: center;
            width: auto;
            margin-right: 75px;

            @include breakpoint-up('sm') {
                width: initial;
                justify-content: center;
                margin-right: 75px;
            }
        }

        a {
            line-height: 140%;
            font-family: 'FrankRuhl';
            font-weight: 500;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                border-bottom: 3px solid transparent;
                width: 100%;
                left: 0;
                bottom: -10px;

                @include breakpoint-up('sm') {
                    bottom: 0;
                }
            }

            &.active {
                font-weight: 500;
                font-family: 'FrankRuhl';
                position: relative;

                &::after {
                    border-bottom: 3px solid $sitkablue;
                }
            }
        }
    }

    // articles__swiper
    &__swiper {
        padding-top: 30px;

        @include breakpoint-up('sm') {
            padding-top: 47px;
        }

        .article-slide {
            width: auto;
            min-width: 263px;

            @include breakpoint-up('sm') {
                min-width: 393px;
            }
        }
    }

    // articles__image
    &__image {
        max-width: 532px;
        width: 100vw;
        z-index: -1;

        img {
            object-fit: cover;
        }
    }

    // articles__header
    &__header {
        text-align: center;
        padding: 0 28px;
        max-width: 822px;
        margin: auto;

        h1 {
            margin-bottom: 12px;
        }

        h2 {
            margin-bottom: 36px;

            @include breakpoint-up('sm') {
                margin-bottom: 60px;
            }
        }
    }

    // articles__btn
    &__btn {
        width: 243px;
        min-width: 0;
        margin: 36px auto 0 auto;
        background-color: $salmon;
        color: $fawn50-2;

        @include breakpoint-up('sm') {
            margin: 60px auto 0 auto;
            width: 393px;
        }
    }
}