@import '@/styles/mixins/_breakpoints.scss';
@import '@/styles/variables/_breakpoints.scss';
@import '@/styles/variables/_colors.scss';

.card {
  display: flex;
  width: 100%;
  padding: 0 18px;
  @include breakpoint-up('sm') {
    width: 50%;
  }
  @include breakpoint-up('md') {
    width: 33.33%;
  }
  @include breakpoint-up('lg') {
    width: 25%;
  }
  .card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    border-radius: 12px;
    border: 1px solid $fawn;
    padding: 12px 12px 26px 12px;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 736px) {
      padding: 25px 25px 31px 25px;
    }
  }

  .best-seller {
    display: none;
    text-align: center;
    background-color: $sitkablue;
    color: #fff;
    border-radius: 48px;
    min-height: 25px;
    min-width: 156px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 736px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .metafield {
    margin-top: 17.41px;
    line-height: 140%;
    font-weight: 500;
  }

  .media {
    margin-bottom: 25px;
    display: block;
  }

  // card__content
  &__content {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;

    .title {
      margin-bottom: 12px;
    }

    .price-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .compare {
      text-decoration: line-through;
    }
  }
}

.media {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  border-radius: 12px;
}