@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/variables/_breakpoints.scss';

.collection {
    padding: 36px 0 122px 0;

    @include breakpoint-up('sm') {
        padding: 132px 0 122px 0;
    }

    &__header {
        max-width: 822px;

        h1 {
            margin-bottom: 12px;
        }

        h3 {
            margin-bottom: 36px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        gap: 62px 36px;
    }
}