@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/variables/_breakpoints.scss';

.collection {
    padding: 36px 0 122px 0;

    @include breakpoint-up('sm') {
        padding: 132px 0 122px 0;
    }

    &__header {
        max-width: 822px;

        h1 {
            margin-bottom: 12px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        grid-auto-rows: auto;
        gap: 62px 36px;
        margin-top: 36px;

        @include breakpoint-up('md') {
            margin-top: 59px;
        }
    }
}