@import '@/styles/_shared.scss';

.row {
    display: flex;
    flex-direction: column;
    padding-top: 70px;

    @include breakpoint-up('sm') {
        flex-direction: row;
        justify-content: space-between;
    }

    .col {
        margin-bottom: 36px;

        @include breakpoint-up('sm') {
            width: 49%;
        }

        .img-wrap {
            margin-bottom: 16px;
        }

        img {
            border-radius: 12px;
        }
    }
}