.FieldSet--CustomerInformation {
  padding: 0;
  font-size: 14px;
}

.FieldSet--CustomerInformation .FieldSet__Content{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.FieldSet--CustomerEmail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Field--Email {
  flex: 1;
}

.Field--Email .InputField.Field--Email {
  width: auto;
}

.stx-field.InputField {
  display: flex;
  flex-direction: column;
}

.stx-input.InputField {
  padding: 5px;
  margin: 0 5px;
}

.FieldSet--CustomerInformation .stx-field__message {
  margin: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.FieldSet--CustomerInformation .InputField--alert + .stx-field__message {
  color: red;
}

.FieldSet--CustomerInformation .stx-checkbox-field__checkbox {
  width: 16px;
  height: 16px;
}