.order-customer__header-links {
  display: flex;
  align-items: center;
}

.order-customer__header-link {
  font-size: 14px;
  a, .btn-link-underline {
    font-size: 14px;
    color: $salmon;
    text-decoration: underline;
    &:hover {
      color: $sitkablue;
    }
  }
}