.order-customer__header-links {
  display: flex;
  align-items: center;
}

.order-customer__header-link {
  font-size: 14px;
  a, .btn-link-underline {
    font-size: 14px;
    color: $salmon;
    text-decoration: underline;
    &:hover {
      color: $sitkablue;
    }
  }
}

.order-giftnote-disclaimer {
  font-size: 11px;
}

.order-customer-account-form {
  h3 {
    font-family: $bebas;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }
  .btn {
    margin: 24px 0;
    max-width: 392px;
  }
}