.order-discount-form__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  h3 {
    font-size: 16px;
    color: $salmon;
  }
  svg {
    width: 25px;
    height: 25px;
    * {
      fill: $salmon;
    }
  }
}

.discount-form {
  display: flex;
  margin-top: 20px;
}

.discount-form__btn {
  max-width: 253px;
  margin-left: 20px;
}