.order-discount-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  h3 {
    font-size: 14px;
    color: $sitkablue;
    @include breakpoint-up('sm') {
      font-size: 16px;
      color: $salmon;
    }
  }
  svg {
    width: 15px;
    height: 15px;
    @include breakpoint-up('sm') {
      width: 25px;
      height: 25px;
    }
    * {
      fill: $sitkablue;
      @include breakpoint-up('sm') {
        fill: $salmon;
      }
    }
  }
}

.discount-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  @include breakpoint-up('sm') {
    flex-direction: row;
  }
  .input-group {
    margin: 0;
    height: 48px;
  }
  .input-field__input {
    height: 48px;
  }
}

.discount-form__btn {
  max-width: 253px;
  margin: 12px 0 0;
  @include breakpoint-up('sm') {
    margin: 0 0 0 20px;
  }
}