.field-set--empty-state {
  border: 1px solid $black10;
  border-radius: 12px;
  margin-bottom: 0;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: $alabaster;
  color: $sitkablue;
}

.field-set--empty-state svg {
  width: 24px;
  margin-right: 17px;
}
