.input-field {
  position: relative;
  flex: 1;
  width: 100%;

  &__container {
    width: 100%;
  }

  &--disabled {
    opacity: 0.4;
  }

  &__input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid $black10;
    padding: 0 15px;
  }

  &__input:focus + &__label,
  &__input:not([value=""]) + &__label,
  &__input:-webkit-autofill + &__label {
    top: 12px;
    font-size: 12px;
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }

  &__message {
    font-size: 14px;
    margin-top: 20px;
  }

  &--alert {
    .input-field__input {
      border-color: red;
    }
  }
}
