.input-field {
  position: relative;
  flex: 1;
  width: 100%;

  &__container {
    width: 100%;
  }

  &--disabled {
    opacity: 0.4;
  }

  &__input {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid $black10;
    padding: 0 15px;
  }

  &__input:focus + &__label,
  &__input:not([value=""]) + &__label,
  &__input:-webkit-autofill + &__label {
    top: 12px;
    font-size: 12px;
  }

  &__label {
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
  }

  &__message {
    font-size: 14px;
    margin-top: 20px;
  }

  &--alert {
    .input-field__input {
      border-color: red;
    }
  }
}

.input-field__input {
  color: $sitkablue;
}