.CartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.CartItem__ImageDescriptionWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.CartItem__QuantityPriceWrapper {
  display: grid;
  grid-auto-flow: row;
  justify-content: end;
}

.CartItem__ProductImageWrapper {
  padding: 3.6px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  position: relative;
  flex: 0 0 72px
}
.CartItem__ImageDescriptionWrapper .stx-image--holder {
  padding: 0;
}

.CartItem__ImageDescriptionWrapper .stx-image {
  border: none;
}

.CartItem__ProductImageWrapper .stx-image--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartItem .CartItem__ProductQuantityWrapper,
.CartItem .CartItem__ProductPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CartItem .CartItem__DecrementBtn,
.CartItem .CartItem__IncrementBtn {
  width: 20px;
}

.InventoryItem  .CartItem__ProductDetails,
.CartItem .CartItem__ProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.CartItem__ProductDetails .stx-details__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.CartItem__ProductDetails .stx-details__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.CartItem__ProductPrice {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  min-width: 65px;
}

.CartItem__ProductPrice .stx-price__amount {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.ProductQuantity {
  width: 25px;
  height: 25px;
  background-color: #a9a9a9;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
