.order-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0;
  @include breakpoint-up('sm') {
    padding: 35px 0;
  }
}

.order-item__title {
  font-family: $bebas;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}

.order-item__image {
  width: 60px;
  flex-basis: 60px;
  margin-right: 10px;
  @include breakpoint-up('sm') {
    width: 130px;
    flex-basis: 130px;
    margin-right: 15px;
  }
}

.order-item__details {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.order-item__quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 52px;
  height: 17px;
  background-color: $fawn50-2;
  margin-top: 10px;
  border-radius: 20px;
  padding: 0 3px;
  @include breakpoint-up('sm') {
    width: 71px;
      height: 23px;
  }
}

.order-item__decrement-btn,
.order-item__increment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 0.5px solid $sitkablue;
  padding: 0;
  background-color: $pureWhite;
  @include breakpoint-up('sm') {
    width: 16px;
    height: 16px;
  }
  svg {
    width: 6px;
    height: 6px;
    @include breakpoint-up('sm') {
      width: 8px;
      height: 8px;
    }
    * {
      stroke: $sitkablue;
    }
  }
}

.order-item__description {
  font-size: 12px;
  @include breakpoint-up('sm') {
    font-size: 14px;
  }
}

.order-item__quantity {
  font-size: 11px;
}

.order-item__disclaimer {
  width: 100%;
  margin-top: 20px;
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
    @include breakpoint-up('sm') {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  p, a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
    @include breakpoint-up('sm') {
      margin-bottom: 20px;
    }
    &:last-child {
      margin: 0;
    }
  }
  a {
    display: inline;
    font-weight: 500;
    color: $salmon;
    text-decoration: underline;
    &:hover {
      color: $sitkablue;
    }
  }
}

.order-item__price {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  min-height: 25px;
  .price {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
  .price-per-unit {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 5px;
  }
}

.order-item__price-delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order-item__weight {
  font-size: 14px;
  line-height: 18px;
}