
.order-summary__header {
  position: relative;
  cursor: pointer;
  h3 {
    font-family: $bebas;
    letter-spacing: 0.02em;
  }
  svg {
    position: absolute;
    top: calc(50% - 4.25px);
    right: 0;
    width: 17px;
    transform: rotate(180deg);
  }
  &--closed {
    svg {
      transform: rotate(0deg);
    }
  }
}