@import '@/styles/_shared.scss';

.faq {
  margin: 60px 0;
  position: relative;
  @include breakpoint-up('md') {
    margin: 100px 0;
  }
  @include breakpoint-up('lg') {
    margin: 140px 0;
  }
  &.pdp-drawer__faq {
    margin: 80px 0;
    .faq__container {
      width: 100%;
      @include breakpoint-up('lg') {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
    .faq__header {
      @include breakpoint-up('lg') {
        margin-bottom: 40px;
      }
    }
    .faq__content {
      @include breakpoint-up('lg') {
        max-width: none;
        padding-left: 0;
      }
    }
  }
}


.faq__image {
  position: absolute;
  top: -7.5%;
  right: 0;
  bottom: 0;
  width: 154px;
  z-index: -1;
  @include breakpoint-up('lg') {
    top: 15%;
    right: auto;
    left: 0;
    width: 366px;
  }
  @include breakpoint-up('xl') {
    width: 570px;
  }
}

.faq__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint-up('lg') {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.faq__header {
  flex: 1;
}

.faq__content {
  width: 100%;
  @include breakpoint-up('lg') {
    max-width: 1100px;
    padding-left: 40px;
  }
}

.faq__items {
  list-style: none;
}