@import '@/styles/_shared.scss';

.faq {
  margin: 60px 0;
  position: relative;
  @include breakpoint-up('md') {
    margin: 100px 0;
  }
  @include breakpoint-up('lg') {
    margin: 140px 0;
  }
}

.faq__image {
  position: absolute;
  width: 570px;
  padding-bottom: 50%;
  top: 0;
  left: 0;
}

.faq__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint-up('lg') {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.faq__header {
  flex: 1;
}

.faq__content {
  width: 100%;
  @include breakpoint-up('lg') {
    max-width: 1100px;
    padding-left: 40px;
  }
}

.faq__items {
  list-style: none;
}