@import '@/styles/_shared.scss';

.slider__slide {
    position: relative;

    img {
        border-radius: 12px;
    }

    .text {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

        h1 {
            margin-bottom: 21px;
        }

        .btn-wrap {
            width: 145px;
            margin: auto;

            a {
                min-width: 0;
            }
        }
    }
}