@import '@/styles/_shared.scss';

.all-know-your-fish-block {
  padding: 60px 0 120px;
  background-color: $fawn50-2;
}

.all-know-your-fish-block__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 60px;
  h2 {
    line-height: 1;
  }
  p {
    margin: 5px 0 0;
  }
}

.sort-by {
  margin-bottom: 5px;
  label {
    opacity: 0.6;
    margin-right: 5px;
  }

  .select-wrap {
    position: relative;
  }

  select {
    border: none;
    color: $sitkablue;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url("./arrow-down.png") no-repeat right;
    min-width: 78.65px;
    cursor: pointer;
    outline: none;

    @include breakpoint-up('md') {
      min-width: 93.65px;
    }
  }
}

.all-know-your-fish-block__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -20px;
}

.all-know-your-fish-block__item {
  width: 25%;
  padding: 0 20px;
  margin-bottom: 115px;
}

.all-know-your-fish-block__item-container {
  background-color: $pureWhite;
  padding: 20px;
  border-radius: 12px;
  .all-know-your-fish-block__item-header {
    font-family: $bebas;
    font-size: 24px;
    margin-bottom: 10px;
  }
  h3 {
    font-family: $bebas;
    font-size: 21px;
    margin-right: 8px;
  }
  p {
    font-size: 18px;
    line-height: 120%;
  }
  .all-know-your-fish-block__detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}

.all-know-your-fish-block__item-image {
  margin-bottom: 18px;
  position: relative;
  img {
    border-radius: 12px;
  }
}

.all-know-your-fish-block__more-info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 11px;
  right: 14px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  border: none;
}
