// ===========================================================================
// *** Color variables
// ===========================================================================

// As you add more colors here, create a new UI Kit color swatch and
// optionally update `global/_color-helpers.scss` background color classes.
// For color naming, use http://chir.ag/projects/name-that-color/

// Primary Colors
$sitkablue: #163144;
$sitkabluelight: #3C597D;
$fawn50: #fcfaf8;
$alabaster: #fcfaf8;
$alabaster2: #fffdfc; 
$copper: #af5d2f;
$salmon: #D18357;

// Secondary Colors
$hherbs: #3c597d;
$fawn: #eae0d2;
$yeller: #af5d2f;

// Warm Black
$black: #2d2b26;
$black20: #d5d5d4;
$black10: #eaeae9;

//  Utility UI Colors
$error: #c04a30;
$caution: #d8a82d;
$success: #467c52;