@import '@/styles/_shared.scss';

.refinement {
    h5 {
        border-top: 1px solid $black20;
        padding-top: 16px;
    }

    .checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 13px;

        label {
            margin-left: 8px;
            cursor: pointer;
        }
    }
}