@import '@/styles/_shared.scss';

.referral-form {
  width: 100%;
  height: 100%;
  max-width: 800px;

  h4 {
    font-size: 1.5rem;
    font-family: $frank-ruhl;
    margin-bottom: 16px;
    font-weight: 400;
    @include breakpoint-down("sm") {
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 16px;
    @include breakpoint-down("sm") {
      font-size: 2.25rem;
      padding-right: 20vw;
    }
  }

  .highlight {
    color: $salmon;
    @include breakpoint-down("sm") {
      color: $sitkablue;
    }
  }

  .banner {
    max-height: 294px;
    margin-bottom: 16px;
    text-align: center;

    @include breakpoint-down("sm") {
      margin-bottom: 30px;
    }
  }

  .text {
    margin-bottom: 36px;

    @include breakpoint-down("sm") {
      font-size: 16px;
      line-height: 150%;
    }
  }

  form {
    .input-container {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      input {
        background-color: $fawn;
        border: none;
        padding: 16px 18px;
        border-radius: 6px;
        width: 100%;
        color: $sitkablue;
      }
    }

    button {
      margin-top: 36px;
      background-color: $salmon;
      padding: 13px 114px;
      border-radius: 48px;
      color: $fawn50-2;
      border: none;
      &:hover {
        background-color: $yeller;
      }
      &:disabled {
        background-color: $yeller;
        cursor: not-allowed;
      }
      @include breakpoint-down("sm") {
        width: 100%;
      }
    }
  }
  .social-links {
    margin-top: 32px;
    @include breakpoint-down("sm") {
      text-align: center;
    }
    a {
      margin-right: 32px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}
