@import '@/styles/_shared.scss';

.product {
    width: 100%;
    gap: 40px;
    background-color: #fffdfc;

    // product__row
    &__row {
        padding: 6px 0 60px 0;

        @include breakpoint-up('md') {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            padding: 86px 0 74px 0;
        }
    }

    .slider {
        @include breakpoint-up('md') {
            width: 48.69%
        }
    }

    .main {
        gap: 10px;

        @include breakpoint-up('md') {
            width: 48.69%
        }
    }

    .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        height: 36px;
        margin-bottom: 13px;
    }

    .product-title {
        margin-bottom: 12px;
    }

    .gift {
        .number {
            color: $salmon;
            margin-right: 4px;
        }

        // gift__check
        &__check {
            display: flex;
            align-items: center;
            margin-bottom: 17px;

            label {
                margin-left: 14.16px;
            }

            input {
                border: 1px solid $black20;
                border-radius: 2px;
                accent-color: $sitkablue;
                width: 28.31px;
                height: 28.31px;
            }
        }

        // gift__card {
        &-card {
            padding-bottom: 32px;
        }

        // gift__info
        &__info {
            border-top: 1px solid $black20;
            padding: 28px 0;

            // gift__info-header
            &-header {
                margin-bottom: 11px;
            }


            form {
                padding-bottom: 32px;
            }

            .delivery {
                color: rgba(45, 43, 38, 0.6);
            }

            .form__col {
                label {
                    display: block;
                    margin-bottom: 11px;
                }

                input {
                    width: 100%;
                    border-radius: 12px;
                    border: 1px solid $fawn50-2;
                    padding: 20px 0 20px 18px;
                    color: rgba(45, 43, 38, 0.6);
                }

                textarea {
                    width: 100%;
                    border: 1px solid $fawn50-2;
                    color: rgba(45, 43, 38, 0.6);
                    min-height: 146px;
                    padding: 21px 0 0 18px;
                    margin-bottom: 5px;
                }

                &:not(:first-child) {
                    margin-top: 9px;
                }

                &:last-child {
                    padding-bottom: 17px;
                    border-bottom: 1px solid #D5D5D4;
                }
            }

            button {
                margin-top: 28px;
            }
        }
    }

    .gift-card {

        // gift-card__amount
        &__amount {
            margin-bottom: 11px;

            .number {
                color: $salmon;
                margin-right: 4px;
            }
        }

        &__buttons {
            display: flex;
            flex-wrap: wrap;

            .btn {
                margin-right: 10px;
                display: flex;
            }

            input[type=radio] {
                display: none;
            }

            input[type=radio]+label {
                padding: 13px 0;
                border-radius: 6px;
                border: 1px solid $fawn50-2;
                cursor: pointer;
                background-color: #fff;
                color: $sitkablue;
                width: 72px;
                text-align: center;
            }

            input[type=radio]:checked+label {
                background-color: $sitkablue;
                color: #fff;
            }
        }
    }

    .compare {
        text-decoration: line-through;
    }
}







.media,
.main {
    width: 100%;
    overflow: hidden;

    @include breakpoint-up('sm') {

        .media,
        .main {
            width: 50%;
        }
    }
}

.image {
    width: 100%;
}