@import '../../../styles/mixins/_breakpoints.scss';
@import '../../../styles/variables/_breakpoints.scss';
@import '../../../styles/variables/_colors.scss';

.harvest__card {
    padding: 11px 12px 45px 12px;
    background-color: #fff;
    border: 1px solid $fawn50-2;
    border-radius: 12px;
    
    &-img {
        margin-bottom: 24px;
    }

    &-tabs {
        position: relative;
        margin-bottom: 17px;

        &::after {
            content: '';
            position: absolute;
            border-bottom: 1px solid $fawn50-2;
            border-radius: 3px;
            width: 100%;
            left: 0;
            bottom: 1px;
        }
    }

    &-tab {
        min-height: 29px;
        display: flex;
        align-items: center; 
        color: $sitkablue;
        width: auto;

        @include breakpoint-up('sm') {
            min-height: 61px;
            width: initial;
            justify-content: center;
        }

        &::after {
            content: '';
            position: absolute;
            border-bottom: 3px solid transparent;
            border-radius: 3px;
            width: 100%;
            left: 0;
            bottom: 0px;

            @include breakpoint-up('sm') {
                bottom: -20px;
            }
        }

        &.active {
            position: relative;
            color: $salmon;

            &::after {
                border-bottom: 3px solid $salmon;
            }
        }

        button {
            text-align: left;
            border: none;
            background: none;
            padding: 0;
            color: $sitkablue;
            text-transform: capitalize;
        }
    }

    &-content {
        h4 {
            margin-bottom: 12px;
        }

        li {
            font-weight: 400;
            font-size: fontsize(14px);
            line-height: 150%;
            
            @include breakpoint-up('lg') {
                font-size: 16px;
            }
            
            @include breakpoint-up('xl') {
                font-size: 18px;
            }
        }
    }
}