@font-face {
    font-family: 'FrankRuhl';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'FrankRuhl';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'FrankRuhl';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'FrankRuhl';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'FrankRuhl';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Black.ttf');
    font-weight: 900;
}


@font-face {
    font-family: 'BebasNeue';
    src: url('./bebas-neue/BebasNeue-Regular.ttf');
}

