@font-face {
    font-family: 'FrankRuhlRegular';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Regular.ttf');
}

@font-face {
    font-family: 'FrankRuhlMedium';
    src: url('./frank-ruhl-libre/FrankRuhlLibre-Medium.ttf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('./bebas-neue/BebasNeue-Regular.ttf');
}