.checkout__error {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  h3 {
    font-family: $bebas;
    font-size: 24px;
    line-height: 36px;
    @include breakpoint-up('sm') {
      font-size: 32px;
    }
  }
  p {
    .btn-link-underline {
      font-size: inherit;
    }
    color: $sitkablue;
  }
}