.FieldSet.InventoryIssues__Section {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0px 32px;
}

.Checkout__ConfirmButton {
  background: #4e4e4e;
  color: #fff;
}

.InventoryIssues__Section p {
  color: rgba(0,0,0,0.65);
}

.InventoryIssues__Section .FieldSet__Heading {
  font-weight: normal;
}

.InventoryIssues__List__Header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.LineItem__QuantityPriceWrapper svg {
  height: 100%;
}
