@import '@/styles/variables/_colors.scss';
.current-month-harvest {
  color: $sitkablue;
  background-color: $fawn50;
  margin-bottom: 28px;
  border-radius: 4px;
  border: 1px solid $fawn50-2;
  h4 {
    font-size: 24px;
  }

  .active-tab {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: $fawn50;
  }

  .inactive-tab {

  }

  .left-tab, .right-tab {
    display: flex;
    width: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    :hover {
      cursor: pointer;
    }
  }

  .left-tab {
    padding-left: 16px;
  }

  .right-tab {
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: $salmon;
    }
  }

  .top-bar {
    background-color: $fawn50-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }

  .future-harvest-month {
    padding-left: 10px;
    width: 200px;
  }

  .estimated-delivery {
    display: flex;
    align-items: center;
    font-size: 16px;
    .date-string {
      margin-left: 5px;
      color: $salmon;
    }
  }

  .detail-body {
    padding: 16px;
  }
}
