@import '@/styles/variables/_colors.scss';

.mini-details {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding-left: 10px;
  padding-right: 10px;

  div {
    flex: 1;
  }
}

.mini-harvest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.fish-row {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background: $pureWhite;
  padding: 12px;
  border: 1px solid $fawn50-2;

  h4 {
    margin-left: 16px;
  }
}

.payment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .date {
    color: $salmon;
  }

  .payment-details-line-2 {
    font-size: 19px;
    font-weight: 500;
  }

  > * {
    margin: 5px;
  }

  .prepay-btn {
    width: unset;
    height: unset;
    padding: 5px 16px;
    border-radius: 5px;
    font-size: 18px;
  }
}
