@import '@/styles/variables/_colors.scss';

.panel-content {
  h1{
    font-size: 48px;
  }

  .sub-header {
    font-size: 28px;
  }

  .current-fulfill-date {
    text-transform: capitalize;
    color: $salmon;
  }
}
