@import '@/styles/_shared.scss';


.product-main {
  :global(.input-group) {
    margin-bottom: 20px;
    @include breakpoint-up('sm') {
      margin-bottom: 45px;
    }
    input {
      @include breakpoint-down('sm') {
        width: 18px;
        flex-basis: 18px;
        height: 18px;
        margin-right: 15px;
      }
    }
    label {
      @include breakpoint-down('sm') {
        font-size: 14px !important;
        font-weight: 500;
      }
    }
  }
}

.product-title {
  margin-bottom: 20px;;
}

.product-price-pounds {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include breakpoint-up('md') {
    margin-bottom: 45px;
  }
  span {
    font-size: 16px;
    font-weight: 500;
    @include breakpoint-up('md') {
      font-size: 28px;
    }
  }
}

.product-atc-btn {
  @include breakpoint-up('md') {
    height: 60px;
  }
}