@import '@/styles/_shared.scss';

// acccordion__row
.accordion__row {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgba(22, 49, 68, 0.1);

    button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $sitkablue;

        svg {
            path {
                fill: $sitkablue;
            }
        }

        .plus {
            width: 15.4px;
            height: 15.4px;
        }

        .minus {
            width: 23.11px;
            height: 1.81px;
        }
    }
}

.accordion__content {
    list-style: none;

    li {
        padding: 12px 0;

        @include breakpoint-up('md') {
            padding: 24px 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(22, 49, 68, 0.1);
        }

        &:last-child {
            padding: 12px 0 24px 0;

            @include breakpoint-up('md') {
                padding: 24px 0;
            }
        }
    }
}

.accordion__desc {
    padding: 24px 0;
}