@import '@/styles/_shared.scss';

.referrals {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 82px 0;

  @include breakpoint-down("sm") {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
  }

  .col-left {
    flex: 0 1 33%;

    .banner {
      display: none;
    }

    @include breakpoint-down("sm") {
      flex: 1 1 0;

      .banner {
        display: block;
      }
    }
  }

  .divider {
    flex: 0 0 1px;
    margin: 0 64px;
    background-color: $black20;

    @include breakpoint-down("sm") {
      margin: 64px 32px;
      width: 100%;
    }
  }

  .col-right {
    flex: 1 1 65%;

    .banner {
      display: block;
    }

    @include breakpoint-down("sm") {
      flex: 1 1 0;

      .banner {
        display: none;
      }
    }
  }
}
