@import '@/styles/_shared.scss';

.main {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .tabs-container {
    padding-left: 125px;
    background-color: $fawn50-2;

    @include breakpoint-down(1300px) {
      padding-left: 64px;
    }

    @include breakpoint-down(700px) {
      padding-left: 12px;
    }
  }

  .cards {
    width: 100%;
    max-width: 100%;
  }

  .loading {
    margin: 100px;
    align-self: center;
  }
}
