@import '@/styles/_shared.scss';

.main {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .tabs-container {
    padding: 0px 125px;
    background-color: $fawn50-2;

    @include breakpoint-down(1074px) {
      padding: 20px 64px;
      background-color: #f5f5f5;
    }

    @include breakpoint-down(700px) {
      padding: 20px 34px;
    }
  }

  .cards {
    width: 100%;
    max-width: 100%;

    @include breakpoint-down(700px) {
      display: none;
    }
  }

  .loading {
    margin: 100px;
    align-self: center;
  }
}
