@import '@/styles/_shared.scss';

.fishermen {
    .callout {
        h4 {
            margin-bottom: 30px;
        }

        p {
            font-weight: 500;
            margin-bottom: 30px;
        }
    }

    .fishermen-wrap {
        position: relative;
        background-color: $fawn50-2;
        padding: 32px 0 84px 0;
    }

    .illustration-wrap {
        position: relative;
        min-height: 157px;
    }

    .illustration {
        position: absolute;
        z-index: -1;
        width: 216px;

        @include breakpoint-up('md') {
            display: block;
        }
    }

    // recipes__filter-row
    .recipes__filter-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        @include breakpoint-up('md') {
            justify-content: initial;
            margin-bottom: 0;
            width: auto;
        }

        span {
            color: $sitkablue;
        }

        .toggle-filters {
            background-color: transparent;
            border: none;
            padding: 0;
            margin-right: 5px;

            @include breakpoint-up('md') {
                margin-right: 21px;
            }

            &.mobile {
                display: block;

                @include breakpoint-up('md') {
                    display: none;
                }
            }

            &.desktop {
                display: none;

                @include breakpoint-up('md') {
                    display: block;
                }
            }
        }

        .sort-by {
            label {
                opacity: 0.6;
                margin-right: 5px;
            }

            .select-wrap {
                position: relative;
            }

            select {
                border: none;
                color: $sitkablue;
                -moz-appearance: none;
                -webkit-appearance: none;
                -webkit-border-radius: 0px;
                background: url("./arrow-down.png") no-repeat right;
                min-width: 78.65px;
                cursor: pointer;
                outline: none;

                @include breakpoint-up('md') {
                    min-width: 93.65px;
                }
            }
        }
    }
}