@import '@/styles/_shared.scss';

.articles {
    .header {
        padding-top: 28px;
        padding-bottom: 14px;

        @include breakpoint-up('md') {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 115px;
            padding-bottom: 24px;
        }

        h1 {
            margin-bottom: 13px;

            @include breakpoint-up('md') {
                margin-bottom: 0;
            }
        }

        // header-link
        &-link {
            display: flex;
            align-items: center;

            a {
                margin-right: 7.77px;
                font-weight: 500;
                text-decoration: none;
            }
        }

        // header-search
        &-search {
            background-color: #fff;
            border-radius: 40px;
            border: 1px solid $fawn50-2;
            padding: 15.67px 0 15.65px 13.55px;

            form {
                display: flex;
                align-items: center;
            }

            button {
                border: none;
                background: #fff;
                padding: 0;
                border-radius: 40px;
            }

            svg {
                width: 25.95px;
                height: 23.69px;
            }

            input {
                border: none;
                border-radius: 40px;
                margin-left: 14.5px;
                color: $sitkablue;
                font-weight: 500;

                &::placeholder {
                    font-weight: 500;
                    color: $sitkablue;
                    font-weight: 500;
                }
            }
        }
    }

    .slider {
        &__slide {
            position: relative;
            padding: 17.94px 15px;
            border: 1px solid $fawn50-2;
            border-radius: 12px;
            min-height: 501px;

            img {
                border-radius: 12px;
            }

            .text {
                margin-top: 17.94px;

                h4 {
                    margin-bottom: 20px;
                }

                p {
                    color: $salmon;
                    height: 43.57px;
                    display: flex;
                    align-items: center;
                }

                .btn-wrap {
                    width: 145px;
                    margin: auto;

                    a {
                        min-width: 0;
                    }
                }
            }
        }
    }
}