@import '@/styles/_shared.scss';

.filter-group {

    // filter-group__title
    &__title {
        color: $sitkablue;
    }

    button {
        background: transparent;
        border: none;
    }

    ul {
        list-style: none;
    }
}