@import '../../styles/mixins/_breakpoints.scss';
@import '../../styles/variables/_breakpoints.scss';
@import '../../styles/variables/_colors.scss';
@import '../../styles/utility/_ui-elements.scss';

.props {
    padding: 60px 22px;

    @include breakpoint-up('sm') { 
        padding: 180px 6.85%;
    }

    &.bg--white {
        background-color: $alabaster;
    }

    &.bg--blue {
        background-color: #E3EBF4;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1656px;
        margin: 36px auto 0 auto;

        @include breakpoint-up('sm') { 
            flex-direction: row;
            align-items: center;
            margin-top: 72px;
        }
    }

    &__col {
        width: 100%;
        max-width: 319px;
        margin: auto;

        @include breakpoint-up('sm') { 
            max-width: 345px;
            width: 20.83%;
        }

        &:not(:first-child) {
            margin-top: 24px;

            @include breakpoint-up('sm') { 
                margin-top: 0;
            }
        }

        &--img {
            max-height: 96px;
            aspect-ratio: 5/4;
            margin: auto;
            position: relative;

            @include breakpoint-up('sm') { 
                max-height: 156px;
            }
        }

        &--text {
            text-align: center;
            margin-top: 24px;

            @include breakpoint-up('sm') { 
                margin-top: 36px;
            }

            p {
                margin-top: 12px;
            }
        }

        img {
            object-fit: contain;
        }
    }

    &__text {
        text-align: center;
        max-width: 332px;
        margin: auto;

        @include breakpoint-up('sm') { 
            max-width: 822px;
        }

        h2 {
            margin-top: 12px;
        }

        p {
            margin-top: 12px;
        }
    }
}