@import '@/styles/_shared.scss';

.article-content {
  width: 53%;
  margin-top: 50px;
  padding-right: 75px;
}

.article-section:not(.article-ingredients),
.article-section .article-section__image {
  padding-right: 60px;
}

.article-description {
  margin-bottom: 20px;
  * {
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
  }
}

.article-social-sharing {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
  li {
    margin-right: 35px;
    button {
      font-size: 18px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background: none;
      &:hover {
        color: $salmon;
        svg {
          * {
            fill: $salmon;
          }
        }
      }
      svg {
        width: 26px;
        margin-right: 5px;
      }
    }
  }
}

.article-ingredients {
  margin-bottom: 50px;
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .article-section__cta-btn {
    width: auto;
    display: inline-flex;
    padding: 0 23px;
    align-items: center;
  }
}

.article-directions,
.article-pro-tips {
  margin-bottom: 50px;
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 65px;
  }
}

.article-section__image {
  img {
    border-radius: 12px;
  }
}

.article-product {
  margin: -20px 0 50px;
}

.article-product__card {
  background-color: $fawn50;
  border-radius: 12px;
  border: 1px solid $fawn50-2;
  padding: 25px;
  max-width: 735px;
}

.article-product__content {
  display: flex;
}

.article-product__image {
  flex-basis: 215px;
  width: 215px;
}

.article-product__details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 40px;
  h4 {
    margin-bottom: 15px;
  }
}

.article-product____tier-price-pounds {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.article-product__details-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 14px;
  border-top: 1px solid $fawn50-2;
  button:first-child {
    font-size: 14px;
  }
  button:last-child {
    max-width: 203px;
    min-width: auto;
  }
}

.article-rate-recipe {
  margin-bottom: 60px;
}

.article-rate-recipe__card {
  border: 12px;
  background-color: $pureWhite;
  border: 1px solid $fawn50-2;
  padding: 20px 27px 30px 33px;
  max-width: 735px;
  .article-rate-recipe__rating {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        width: 50px;
        * {
          stroke: $sitkablue;
        }
      }
    }
  }
  button {
    max-width: 203px;
    min-width: auto;
  }
}